<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/scss/app.scss" }}
    </head>
    <body>
        {{ partial:partials/_header }}
        <div id="main">
            {{ template_content }}
        </div>
        {{ partial:partials/_suppliers }}
        {{ partial:partials/_footer }}
    </body>
</html>
