<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | {{ site:name }}</title>
        <meta name="description" content="Re_Cycles France est concepteur, fabricant et distributeur de Vélos à Assistance Électrique Cycles Gitane et Cycles Peugeot et propose des solutions de mobilité urbaine au grand public et aux entreprises et collectivités.">
        <link rel="canonical" href="https://www.re-cycles-france.fr/" />
        {{ partial:partials/_opengraph }}
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
        <link rel="shortcut icon" href="/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        {{ vite src="resources/js/site.js|resources/scss/app.scss" }}
    </head>
    <body>
        {{ partial:partials/_header }}
        <div id="main">
            {{ template_content }}
        </div>
        {{ partial:partials/_suppliers }}
        {{ partial:partials/_footer }}
    </body>
</html>
