<footer class="footer-brand">
    <div id="suppliers" class="splide" aria-label="Suppliers / Partners">
        <div class="splide__track">
            <ul class="splide__list">
                {{ collection:suppliers }}
                    <li class="splide__slide">
                        <img src="{{ logo }}" alt="">
                    </li>
                {{ /collection:suppliers }}
            </ul>
        </div>
    </div>
</footer>
<footer class="footer-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 text-center text-md-start">
                <h5>Menu</h5>
                {{ partial:footer/navs/_footer }}
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center text-md-start">
                <h5>Services Pro</h5>
                {{ partial:footer/navs/_pro }}
            </div>
            <div class="col-md-6 col-lg-4 mb-4 text-center text-md-start">
                <h5>Sites des marques</h5>
                {{ partial:footer/navs/_brands }}
            </div>
        </div>
    </div>
</footer>
<footer class="footer-2">
    <div class="container">
       <div class="row">
           <div class="col-xl-8 text-center text-md-start">
               <a href="#">Mentions légales et Politique de confidentiailité</a>
           </div>
           <div class="col-xl-4">
               <span class="fw-bold">Re_Cycles France</span> est une filiale du groupe <a href="https://www.groupe-rebirth.com" target="_blank">Rebirth</a>.
           </div>
       </div>
    </div>
</footer>
