<meta property="og:locale" content="fr_FR" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }} | {{ site:name }}" />
<meta property="og:description" content="Re_Cycles France est concepteur,  fabricant et distributeur de Vélos à Assistance Électrique Cycles Gitane et Cycles Peugeot et propose des solutions de mobilité urbaine au Grand Public et aux entreprises et collectivités." />
<meta property="og:url" content="{{ permalink }}" />
<meta property="og:site_name" content="Re_Cycles France" />
