.DS_Store
/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/js
/storage/*.key
/storage/statamic/users
/storage/framework/*
/storage/debugbar/*
/storage/glide/*
/storage/antlers-language-server/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
