<a href="{{ link }}" class="pro-link" target="_blank" style="background-image: url({{ thumbnail }});">
    <div class="inner-back">
        <img src="{{ thumbnail }}" alt="">
    </div>
    <div class="inner-front arc-bottom-right">
        <div class="title-wrapper">
            {{ if displayed_title }}
                {{ displayed_title }}
                <span class="title">{{ value }}</span>
                {{ /displayed_title }}
            {{ else }}
                <span class="title">{{ title }}</span>
            {{ /if }}
        </div>
        <div class="description">
            {{ if description }}
                <small>{{ description }}</small>
            {{ /if }}
        </div>
    </div>
</a>
