{{  form:job_application }}
    <div class="row">
        <div class="col-lg-6 mb-3">
            <label for="firstname" class="form-label">Prénom :</label>
            <input type="text" name="firstname" for="firstname" class="form-control" placeholder="Prénom" />
        </div>
        <div class="col-lg-6 mb-3">
            <label for="lastname" class="form-label">Nom :</label>
            <input type="text" name="lastname" for="lastname" class="form-control" placeholder="Nom" />
        </div>
        <div class="col-lg-6 mb-3">
            <label for="phone" class="form-label">Portable :</label>
            <input type="text" name="phone" for="phone" class="form-control" placeholder="Téléphone" />
        </div>
        <div class="col-lg-6 mb-3">
            <label for="email" class="form-label">Adresse e-mail :</label>
            <input type="text" name="email" for="email" class="form-control" placeholder="Adresse e-mail" />
        </div>
        <div class="col-lg-3 mb-3">
            <label for="postalcode" class="form-label">Code postal :</label>
            <input type="text" name="postalcode" for="postalcode" class="form-control" placeholder="Code Postal" />
        </div>
        <div class="col-lg-9 mb-3">
            <label for="city" class="form-label">Ville :</label>
            <input type="text" name="city" for="city" class="form-control" placeholder="Ville" />
        </div>
        <div class="col-lg-6 mb-3">
            <label for="phone" class="form-label">CV :</label>
            <input type="file" name="phone" for="phone" class="form-control" placeholder="Téléphone" />
        </div>
        <div class="col-lg-6 mb-3">
            <label for="email" class="form-label">Lettre de motivation :</label>
            <input type="file" name="email" for="email" class="form-control" placeholder="Adresse e-mail" />
        </div>
    </div>
{{  /form:job_application }}
